.feedback-form {
    $root: &;

    margin: 10vh auto 0 auto;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-flow: nowrap column;
    width: 450px;
    background: $white;

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 24px;
        color: $dark-grey;
        font-weight: 700;
    }

    &__button {
        background: $orange;
        border: none;
        border-bottom: 4px solid $dark-orange;
        color: $white;
        font-size: 14px;
        width: 250px;
        line-height: 40px;
        border-radius: 20px;
        padding: 0 20px;
        margin: 0 auto;
        text-align: center;
    }
}