mixin textarea(props)
    .textarea(class=props.disabled ? 'disabled' : '')&attributes(attributes)
        if props.label
            .textarea__label= `${props.label}${props.required ? ' *' : ''}`
        textarea(
            name = props.name || '',
            required = props.required || false,
            placeholder = props.placeholder || false,
            maxlength = props.maxlength || false,
            disabled = props.disabled || false
        )
        .textarea__error
